<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png" type="image/x-icon">
    <title>About</title>
</head>

<body>
    {{>header}}
    <div class="cont">
        <h1 class="mt-4 text-center">About Weather APP</h1>
        <p class="mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel adipisci optio ducimus tempora
            maiores suscipit ea doloremque aliquam totam beatae cum quo doloribus, inventore accusamus eos rem ut
            placeat mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolore quidem nam nulla cum
            totam vitae, aperiam nobis corporis veniam, sequi ullam velit? Distinctio dicta, voluptatibus alias sit
            fugiat cum?</p>
        <img src="./img/undraw_weather_d9t2.png" class="mt-1 abt-img" alt="">
    </div>

    <footer>
        {{>footer}}
    </footer>
</body>

</html>